.table{
    width: 50%;
    height: auto;
    /* border: 2px solid black; */
    display: block;
}
.baris{
    /* display: inline; */
    /* border: 2px solid black; */
    
    float: left;
}
.sell{
    margin: 0;
    display: inline-block;
    border: 1px solid rgb(125, 124, 124);
    float: left;
    padding: 3px;
}
.pth{
    width: 30px;
	height: 30px;
    background-color: white;
    color: black;
}
.htm {
    width: 30px;
	height: 30px;
    background-color: #000;
}